:root {
	--bg-1: #f37f83;
	--bg-2: #ef6e77;
	--bg-3: #e53c58;
	--fg-1: #fcfcf8;
	--fg-2: #fcfcf8;
	--fg-3: #f37f83;
	--hl-1: #0000c7;
	--hl-2: #ff043c;
	--hl-3: #c4fcc4;
}

h1 {
	color: var(--hl-2) !important;
}
